[submodule "code/gfx/SDL3_gfx"]
	path = code/gfx/SDL3_gfx
	url = git@github.com:sabdul-khabir/SDL3_gfx.git
[submodule "code/gfx/vendored/SDL"]
	path = code/gfx/vendored/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "code/gfx/vendored/SDL_image"]
	path = code/gfx/vendored/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
